@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
/* body --------------------- */
body {
  /* Main ----------------------*/
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  overflow: hidden;

  main {
    background-color: #b4c5a7;
    zoom: 1;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: auto;
    height: 565px;
    width: 256px;

    /* hide */
    &.hide {
      display: none;
    }
    /* login */
    &#login {
      background: url(../img/bg\ login.png) no-repeat center;
      background-size: cover;
      /* formulario */
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 0 0.6rem;
        bottom: 0.9rem;
        gap: 1rem;
        label {
          display: flex;
          flex-direction: column;
          font-size: 15px;

          input {
            border: 2px solid black;
            font-family: poppins;
            outline: none;
            text-indent: 0.4 rem;
            border-radius: 10px;
            background-color: transparent;
            width: 227px;
            height: 24px;
            &::placeholder {
              color: #15181999;
            }
          }
        }
        button {
          border: none;
          font-family: poppins;
          background-color: #5f9647;
          color: #000000;
          width: 50%;
          height: 28px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            background-color: #5f9647cc;
            transform: scale(1.05);
          }
        }
      }
    }
    &#dashboard {
      background-image: url(../img/fondo.png);
      background-size: cover;
      nav {
        /* padding-top: 4rem; */
        display: flex;
        justify-content: space-around;
        z-index: 50;
        position: relative;
        a:link,
        a:visited {
          backdrop-filter: blur(40px);
          -webkit-backdrop-filter: blur(20px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
          color: whitesmoke;
          display: flex;
          /* border: 2px solid #5f9647; */
          justify-content: center;
          align-items: center;
          margin-top: 2rem;
          border-radius: 4px;
          width: 30px;
          text-decoration: none;
          height: 22px;
          gap: 8px;
        }
      }
      section.list {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        margin-top: 4rem;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #5f9647; */
        div.row {
          background: rgb(255, 255, 255);
          backdrop-filter: blur(40px);
          -webkit-backdrop-filter: blur(20px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 39px;
          width: 220px;
          padding: 0.2rem;
          margin-top: 1rem;
          img {
            width: 40px;
            border-radius: 4px;
          }
          div.data {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 200px;
            h3 {
              font-size: 10px;
              font-weight: 500;
              margin: 0;
            }
            h4 {
              font-size: 7px;
              font-weight: 300;
              margin: 0;
            }
          }
          nav.actions {
            padding-top: 0;
            display: flex;
            align-items: center;
            gap: 0.2rem;
            a:link,
            a:visited {
              height: 20px;
              margin-top: 0;
              width: 20px;
            }

            .btnShow {
              background: url(../img/Eye.png) no-repeat center;
              width: 10px;
              height: 10px;
            }

            .btnDelete {
              background: url(../img/delete.png) no-repeat center;
              width: 10px;
              height: 10px;
              /* background-size: cover; */
            }

            .btnEdit {
              background: url(../img/edit.png) no-repeat center;
              width: 10px;
              height: 10px;
              /* background-size: cover; */
            }
          }
        }
      }
    }

    /* opko */

    &#add {
      background-image: url(../img/fondo.png);
      /* background-size: cover; */
      form {
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 1em;
        position: absolute;
        width: 200px;
        padding: 1rem;
        top: 6rem;
        gap: 0.5rem;
        label {
          display: flex;
          flex-direction: column;
          font-size: 10px;
          color: #c7f7c0;

          input {
            border: 2px solid black;
            color: #c7f7c0;
            font-family: poppins;
            outline: none;
            /* text-indent: 0.4 rem; */
            border-radius: 10px;
            background-color: transparent;
            width: 200px;
            height: 18px;
            &::placeholder {
              color: #15181999;
              font-size: 10px;
            }
          }
        }
      }
      div.buttons {
        cursor: pointer;
        display: flex;
        gap: 12px;
        margin-top: 4rem;
        button{
            border-radius: 10px;
            background: #17c63d;
            border: none;
            font-family: poppins;
            background: 0.2s ease;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                background: #18a410;
                transform: scale(1.02);
            }
        }
        #btnCancelar{
            background: red;
            &:hover {
                background: #8b2e22;
                transform: scale(1.02);
            }
        }
      }
    }

    &#show {
      background-image: url(../img/fondo.png);
      background-size: 259px 430px;
      background-position: bottom;
      background-color: #fff;
      background-repeat: no-repeat;
      width: 259px;

      #editar{
        position: absolute;
        left: 13.7rem;
        height: 20px;
        /* top: 1rem; */
      }
     
        #imgEdit{
             margin: auto;
             margin-top: -4rem;
        }
        img {
          display: block;
          border-radius: 4px;
        }
        
         p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 0;
      }

      form {
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 1em;
        position: absolute;
        width: 200px;
        padding: 1rem;
        top: 15rem;
        gap: 0.5rem;
        label {
          display: flex;
          flex-direction: column;
          font-size: 10px;
          color: #c7f7c0;

          input {
            border: 2px solid black;
            color: #ffffff;
            font-family: poppins;
            outline: none;
            /* text-indent: 0.4 rem; */
            border-radius: 10px;
            background-color: transparent;
            width: 200px;
            height: 18px;
            &::placeholder {
              color: #15181999;
              font-size: 10px;
            }
          }
        }
      }
      div.buttons {
        cursor: pointer;
        display: flex;
        gap: 12px;
        margin-top: 4rem;
        button{
            border-radius: 10px;
            background: #17c63d;
            border: none;
            font-family: poppins;
            background: 0.2s ease;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                background: #18a410;
                transform: scale(1.02);
            }
        }
        #btnCancelar{
            background: red;
            &:hover {
                background: #8b2e22;
                transform: scale(1.02);
            }
        }
      }
       header {
      display: block;
      position: fixed;
      justify-content: center;
      align-items: center;
      border-radius: 10px 10px 10 10;
   
      height: 58px;
      width: 269px;

      a:link,
      a:visited {
        display: flex;
        position: absolute;
        left: 0.4rem;
        top: 1rem;
        transition: 10px ease;
      }
      img {
        margin-right: 10px;
        border-radius: 10px 10px 0 0;
      }
      a:hover {
        transform: translateX(5px);
      }
    }
    }

    &#edit {
      background-image: url(../img/fondo.png);
      background-size: cover;
      #petEdit{
        width: 275px;
        height: 70px;}
      form {
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 1em;
        position: absolute;
        width: 200px;
        padding: 1rem;
        top: 6rem;
        gap: 0.5rem;
        label {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: #c7f7c0;

          input {
            border: 2px solid black;
            color: #c7f7c0;
            font-family: poppins;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.452);
            width: 220px;
            height: 27px;
            &::placeholder {
              color: #00000099;
              font-size: 14px;
            }
          }
        }
      }
      div.buttons {
        cursor: pointer;
        display: flex;
        gap: 12px;
        margin-top: 4rem;
        button{
            border-radius: 10px;
            background: #17c63d;
            border: none;
            font-family: poppins;
            background: 0.2s ease;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                background: #18a410;
                transform: scale(1.02);
            }
        }
        #btnCancelar{
            background: red;
            &:hover {
                background: #8b2e22;
                transform: scale(1.02);
            }
        }
      }
        header {
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: center;
      border-radius: 10px 10px 10 10;
      height: 65px;
      width: 266px;

      a:link,
      a:visited {
        display: flex;
        position: absolute;
        left: 0.4rem;
        transition: 10px ease;
      }
      img {
        margin-right: 10px;
        border-radius: 10px 10px 0 0;
      }
      a:hover {
        transform: translateX(5px);
      }
    }
    }


    header {
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: center;
      border-radius: 10px 10px 10 10;
         z-index: 10;
      height: 58px;
      width: 263px;

      a:link,
      a:visited {
        display: flex;
        position: absolute;
        left: 0.4rem;
        transition: 10px ease;
      }
      img {
        margin-right: 10px;
        border-radius: 10px 10px 0 0;
      }
      a:hover {
        transform: translateX(5px);
      }
    }
  }
}
main.animateView {
  animation: animateView 0.4s ease-in 1;
}

@keyframes animateView {
  0% {
    opacity: 0;
    transform: scale(.6);
  }
}
